<?xml version="1.0" ?>

<launch>
    <!-- Arguments -->
    <arg name="move_forward_only" default="true"/>
        
    <!-- Rviz and robot description -->
    <include file="$(find circular_waiter_robot_description)/launch/display.launch"/>

    <!-- Gazebo and the 3D world -->
    <include file="$(find circular_waiter_robot_description)/launch/gazebo.launch"/>

    <!-- Gmapping -->
    <include file="$(find circular_waiter_robot_description)/launch/gmapping.launch"/>
    <!-- <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=/scan">
        <param name="~delta" value="0.05" />
        <param name="~map_update_interval" value="1" />
    </node> -->

    <!-- Move_base -->
    <include file="$(find circular_waiter_robot_description)/launch/move_base_mapping.launch">    
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <!-- rviz -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find circular_waiter_robot_description)/launch/urdf.rviz" required="true"/>   -->

</launch>