<?xml version="1.0" ?>

<launch>
    <!-- Arguments -->
    <arg name="map_file" default="$(find circular_waiter_robot_description)/maps/map.yaml"/>  
    <arg name="lane_map" default="$(find circular_waiter_robot_description)/maps/lane_map.yaml"/>  
    <arg name="move_forward_only" default="true"/>

    <!-- Rviz and robot description -->
    <include file="$(find circular_waiter_robot_description)/launch/display.launch"/>

    <!-- Gazebo and the 3D world -->
    <include file="$(find circular_waiter_robot_description)/launch/gazebo.launch"/>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <node pkg="map_server" name="map_server2" type="map_server" args="$(arg lane_map)">
        <remap from="/map" to="/lane_map"/>
    </node>


    <!-- AMCL -->
    <include file="$(find circular_waiter_robot_description)/launch/amcl.launch"/>

    <!-- Move_base -->
    <include file="$(find circular_waiter_robot_description)/launch/move_base.launch">    
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <!-- rviz -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find circular_waiter_robot_description)/launch/navigation.rviz" required="true"/>   -->

</launch>