<launch>

<rosparam file="$(find circular_waiter_robot_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="circular_waiter_robot" args="right_wheel_joint_position_controller left_wheel_joint_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/circular_waiter_robot/joint_states"/>
</node>

</launch>