<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find circular_waiter_robot_description)/urdf/circular_waiter_robot.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model circular_waiter_robot"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find circular_waiter_robot_description)/world/restaurant_indoor.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
